*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;  
}
/* Header */
img {
    width: 20px;
}
.menu {
    display: flex;
    justify-content:space-between;
    margin-top: 1px;
    margin-right: 0;
    padding: 10px;
    background-color: #ffd700;
    color: #343131;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
}
a:link, 
a:visited {
    text-decoration: none;
    color: #343131;
}
.dropdown > span {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.about-menu {
    text-decoration: none;
    list-style: none;
    position: relative;
    top: -25px;
    left: -30px;
    z-index: 1;
    display: none;
    margin-bottom: 0;
    flex-direction: column;
    background-color: #ffd700;
    border-radius: 5px;
    padding-top: 30px;
}
.about-menu > li {
    padding: 0 40px 10px 20px;
}
.dropdown:hover .about-menu {
    display: flex;
    flex-direction: column;
    background-color: #ffd700;
}
a:hover {
    color: #663399;
    text-decoration: underline;
}
.button:hover {
    background-color: #ffd700;
    color: white;
}
.hero-container {
    font-size: 30px;
    font-weight: bolder;
    font-style: oblique;
    display: flex;
    justify-content: center;
    color: #337599;
}
.profession {
    font-size: 25px;
    color: #a91616;
}
.up-symbol {
    font-size: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}
.up-symbol:hover {
    color: green;
    text-decoration: none;
}
.information-container {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 100px;
    position: relative;
    left: 10px;
    top: 10px;    
}
.picture {
    width: 300px;
    border-radius: 100px;
    border: 10px solid #343131;
    margin-left: 120px;
}
.information {
    color: #337599;
    margin-top: 100px;
}
.name {
    color: #faebd7;
    font-size: 60px;
}
.job-description {
    display: flex;
    justify-content: first baseline;
    color: #337599;
    position: relative;
    left: 80px;
    top: -120px;
    font-size: 30px;
}
.job-list {
    list-style: none;
    color: #faf8f7f1;
    font-size: 40px;
    margin-left: 10px;
}
code {
    color: #d3cd74;
    font-family: 'Courier New', Courier, monospace  ;
}
.ampersand{
    color: #337599;
    font-size: 30px;
}