*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header */
.menu-container {
    color: #290d0d;
    background-color: #e8e7f4;
    padding: 10px 0;

    display: flex;
    justify-content: center;
}
.menu {
    width: 900px;

    display: flex;
    justify-content: space-between;
}
.links {
    display: flex;
    justify-content:flex-end;
    gap: 30px;
}

.logo {
    border: 2px solid #290d0d;
}
.hero-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium';
    color: #0f2424;
}
.profession {
    color: #782121;
    font-size: medium;
}   
